@import "@styles/Mixins.scss";
@import "@styles/Variables.scss";

.container {
    padding: $padding-md;
    background-color: $whiteColor;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 80%;
        background-color: inherit;
        opacity: 0.1;
        box-shadow: 0 10px 30px $blackColor;
        z-index: -1;
        filter: blur(30);
        border-radius: 999rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 80%;
        background-color: inherit;
        opacity: 0.1;
        box-shadow: 0 10px 30px $blackColor;
        z-index: -1;
        filter: blur(30);
        border-radius: 999rem;
    }

    &_rounded {
        border-radius: $borderRadius-md;
    }
}
