@import "@styles/Mixins.scss";
@import "@styles/Variables.scss";

.header {
    @include flex(row, space-between, center);
    width: 100%;
    padding: $paddingX-xs;
    background-color: $blackColor;
    font-size: $fontSize-sm;

    * {
        color: $whiteColor;
    }
}
