// Sizes and dimensions
$baseUnit: 8px;
$breakpoint-xs: 375px;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;

// Colors
$whiteColor: #ffffff;
$blackColor: #000000;
$primaryColor: #000000;
$secondaryColor: #ffffff;
$tertiaryColor: #ffffff;
$quaternaryColor: #ffffff;
